body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.nav-bar{
    width: 17rem;
    height: 87%;
    background-color: rgb(0, 0, 0);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.hidden{
    display: none !important;
}
.narrow-bar{
    width: 4.5rem !important;
}
.main{
    flex: 1;
    height: 87%;
    background-color: #121212;
    border-radius: 0.5rem;
    box-sizing: border-box;
    overflow: auto;
}
.player{
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
.home{
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem;
    background-color: #121212;
    border-radius: 0.5rem;
    height: 7rem;
    margin-bottom: 0.5rem;
}
.home div{
    display: flex;
    justify-content: flex-start;
    height: 3rem;
}
.home i{
    font-size: 1.2rem;
    margin-right: 1rem;
    opacity: 0.8;
}
.home a{
    font-size: 1rem;
    opacity: 0.8;
}
.home a:hover, i:hover{
    opacity: 1;
}
.search{
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    background-color: #121212;
    border-radius: 0.5rem;
    height: 27.6rem;
}
.library-heading{
    display: flex;
    flex-wrap: wrap;
}

.search-head{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}
.search-head img{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1rem;
}
.search-head button{
    background-color: transparent;
    color: white;
    opacity: 0.7;
    border: none;
    font-size: 0.9rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-left: 0.7rem;
}
.search-head button:hover{
    opacity: 1;
}
#nav-bar-playlist{
    font-size: 1.2rem;
}
.playlist-card{
    background-color: #242424;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}
.playlist-card-head{
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.playlist-card-desc{
    font-size: 0.7rem;
    font-weight: 700;
    margin-top: 0rem;
    opacity: 0.8;
}
.playlist-card-btn{
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: black;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
}
.playlist-card-btn:hover{
    opacity: 0.9;
    transform: scale(1.05);
}

/* navbar done */

.main-top-bar{
    position: sticky;
    top: 0rem;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 64px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.nav-arrow{
    display: flex;
    gap: 1rem;
}
.nav-arrow i {
    background-color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main-nav{
    margin-top: 0;
}
.empty{
    flex: 1;
}
.black{
    background-color: black;
    color: white;
}
.black i{
    font-size: 1rem;
}

.main-content{
    padding: 1rem;
    padding-left: 1.2rem;
}
.main-content h2{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}
.main-card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 900px){
    .main-card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
@media screen and (max-width: 700px){
    .main-card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
@media screen and (max-width: 500px){
    .main-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
}
.card{
    height: 17rem;
    border-radius: 0.5rem;
    background-color: #242424;
    box-shadow: 0 0 5px #292929 ;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}
.card:hover{
    background-color: #3a3939;
}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-heading{
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;

}
.card-artist{
    font-size: 0.875rem;
    color: #b3b3b3;
    margin: 0.5rem 0;

}

.main-footer{
    margin-top: 3rem;
    border-top: #413f3f 1px solid;
    padding: 1rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.legal{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}
.legal p{
    font-size: 0.875rem;
    color: #a7a7a7;
    cursor: pointer;
}
.legal p:hover{
    color: #fff;
}

.player-currentplaying {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
}
.player-currentplaying img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.2rem;
}
.player-currentplaying-name{
    font-size: 0.8rem;
    margin: 0;
}
.player-currentplaying-artist{
    font-size: 0.68rem;
    opacity: 0.8;
    margin: 0;
}
.player-currentplaying i{
    opacity: 0.8;
    cursor: pointer;
}
.player-currentplaying i:hover{
    opacity: 1;
    scale: 1.01;
}
.player-controls{
    flex: 2;
}
.player-controls-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-controls-options img{
    width: 1rem;
    height: 1rem;
    opacity: 0.8;
    cursor: pointer;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}
.player-controls-options img:hover{
    scale: 1.2;
    opacity: 1;
}
.player-controls-options .middle{
    width: 2rem;
    height: 2rem;
    opacity: 1;
}
.player-options{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding-right: 1rem;
}
.player-controls-playbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.player-controls-playbar input{
    width: 70%;
    height: 4px;
    
}
input[type="range" i] {
    -webkit-appearance: none;
    appearance: auto;
    cursor: default;
    color: -internal-light-dark(rgb(3, 233, 99), rgb(255, 255, 255));
    padding: initial;
    border: initial;
    margin: 2px;
}

#volume{
    width: 5rem;
    height: 3px;
}